## **Assignment 1**

<br>

Q1. Create one variable containing following type of data : (i) string (ii) list (iii) float (iv) tuple

In [1]:
name = "Abhishek"
data = ['Data Science', 'Full Stack Developer']
salary = 4094343
location = ('New York', "California", 'Miami')

Q2. Given are some following variables containing data: (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1. What will be the data type of the above given variable.

In [4]:
var1 = '' #String
var2 = '[DS , ML , Python]' #string
var3 = ['DS' , 'ML' , 'Pytho'] #list
var4 = 1 #int

In [5]:
print(f'{type(var1)}, {type(var2)}, {type(var3), {type(var4)}}')

<class 'str'>, <class 'str'>, (<class 'list'>, {<class 'int'>})

Q3.Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) **

In [6]:
'''

/ is used for division
% is used for modulo
// is used for round figure division when we want the value to be int result
** is used to multiply with power

'''

'\n/ is used for division \n% is used for modulo \n// is used for round figure division when we want the value to be int result \n** is used to multiply with power\n\n'

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [9]:
list_length_10 = [1, 'name', 43.4, [1,2,'lo'], (''), '', "check + 2", 3, 0, 9]

for i in list_length_10:
  print(f'{i} --> {type(i)}')

1 --> <class 'int'>
name --> <class 'str'>
43.4 --> <class 'float'>
[1, 2, 'lo'] --> <class 'list'>
 --> <class 'str'>
 --> <class 'str'>
check + 2 --> <class 'str'>
3 --> <class 'int'>
0 --> <class 'int'>
9 --> <class 'int'>

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [15]:
import numpy as np

num_list = list(np.random.randint(1, 100, 25))

for i in num_list:
  print("Divisible by 3 *") if i%3 == 0  else print("Not divisible")

Not divisible
Not divisible
Not divisible
Not divisible
Divisible by 3 *
Divisible by 3 *
Not divisible
Not divisible
Not divisible
Not divisible
Divisible by 3 *
Divisible by 3 *
Divisible by 3 *
Not divisible
Not divisible
Divisible by 3 *
Not divisible
Divisible by 3 *
Not divisible
Divisible by 3 *
Not divisible
Divisible by 3 *
Divisible by 3 *
Not divisible
Not divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable objects can be modified after its created whereas immutable objects cannot be modified once created.

In [19]:
'''
Mutable mean what gives us the ability of modify its value
Immutable mean what doesn't allow us to modify


list is Mutable
Tuple and String is Immutable

'''

checkMutable =  [1,2,3,4,5]
checkMutable[3] = 1999

print(checkMutable)


check_Immutable =  (6,9,32,2,21,3)   # Not allowed
check_Immutable[2] = 21212

print(check_Immutable)

[1, 2, 3, 1999, 5]

TypeError: 'tuple' object does not support item assignment