Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd

series = pd.Series([4,8,15,16,23,42])

series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [14]:
import numpy as np

list_elem = np.random.randint(1,100,10)
s = pd.Series(list_elem )

s

0    47
1    61
2    42
3    28
4    99
5    57
6    89
7    33
8    66
9    60
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name Alice Bob Claire
Age 25 30 27
Gender Female Male Female

In [20]:
data = {
    'Name' : ["Alice", "Blob", "Claire"],
    'Age' : [25, 30, 27],
    "Gender" : ['Female', 'Male', 'Female']
}

pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1    Blob   30    Male
2  Claire   27  Female